.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  padding: 1.25rem;
  box-sizing: border-box;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.introducao p,
.introducao a {
  grid-column: 1;
}

.introducao img {
  grid-row: 1/3;
  grid-column: 2;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-items: end;
  padding-bottom: 12.5rem;
}

.introducao h1 {
  margin-bottom: 2rem;
}

.introducao p {
  margin-bottom: 1.25rem;
}

.introducao a {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 1.12rem;
  font-weight: bold;
  line-height: 1.33;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0.5rem;
  }

  .introducao a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.8;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }

  .introducao-bg {
    box-shadow: inset 0 -60px #fff;
  }
}

/* box-shadow : x y bluer fontSize color */
